.dashboard{
text-align:center;
margin-top:80px;
font-family:Arial;
}

.cards{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
}

.card{
width:220px;
padding:25px;
background:white;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
cursor:pointer;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
box-shadow:0 8px 20px rgba(0,0,0,0.2);
}

h1{
color:#2c3e50;
}